<div class="row">
  <div class="col m10 offset-m1 margin-top">
    <div class="card-panel">
      <div class="row">
        <div class="col m8 offset-m3">
          <div class="col m2">
            <%= link_to "Empty Link", '', class: 'waves-effect waves-light btn-large' %>
          </div>
          <div class="col m2 offset-m1">
            <%= link_to "Empty Link", '', class: 'waves-effect waves-light btn-large' %>
          </div>
          <div class="col m2 offset-m1">
            <%= link_to "Empty Link", '', class: 'waves-effect waves-light btn-large' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
